<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS読込 -->
  <link rel="stylesheet" th:href="@{/css/top/top.css}">
  <!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  
  <title>トップ</title>
</head>
<header>
   <h1>
      <a href="/">効率的な英語</a>
   </h1>
  
   <nav class="pc-nav">
      <ul>
         <li><a href="#">ABOUT</a></li>
         <li><a href="#">SERVICE</a></li>
         <li><a href="#">LOGIN</a></li>
         <li><a href="#">REGISTAR</a></li>
      </ul>
   </nav>
</header>
<div class="main-visual">
   <h2>もっと効率的な英語学習を</h2>
</div>
<body class="bg-light">

  
</body>
</html>