.user-search-form>A{
	font-size:100px;
}
p{
	font-size:100px;
	
	margin-left:350px;
    
}
p.B{
	font-size:100px;
	
	margin-left:350px;
    
	
}
div.radio{
	margin-left:450px;
	size:50px;
	width:200px;
	
}
input.btn-primary{
	margin-left:450px;
}

