<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <title>ユーザー一覧</title>
  <!-- 個別CSS読込 -->
   <link rel="stylesheet" th:href="@{/css/user/englishanswer.css}">
</head>
<body>
  <div layout:fragment="content">
  <div th:object="${word}">
  <p class="A" th:text="${word.english}" >
</p> 
<p class="B" th:text="${word.japanese}">
</p> 
</div>
  　
 <form id="user-search-form" method="post" th:action="@{/user/english/answer}"  th:object="${answer}">



<div class="radio" th:each="item : ${radio}">
<input type="radio" th:value="${item.key}" th:text="${item.value}" th:field="*{answerSituationId}"></div>
<input type="submit" value="次の問題へ" class="btn btn-primary" />
</form>

   
    
   
  </div>
</body>
</html>