<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS読込 -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/user/wordregistar.css}">
  <!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <title>ログイン</title>
</head>
<body class="bg-light">
  <div class="text-center">
    <form method="post" th:action="@{/user/folder/wordregistar}" class="form-login" th:object="${word}">
    
      <h1>単語登録</h1>
      <script>
 
      function add() {
 
  var tr_form = '' +
  '<tr>' +
    '<td><input type="text" name="text_1[]"></td>' +
    '<td><input type="text" name="text_2[]"></td>' +
  '</tr>';
 
  

</script> 
    
      <!-- ユーザー名 -->
     <table>
  <thead>
    <tr>
      <th>材料</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="text_1[]"></td>
      <td><input type="text" name="text_2[]"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td ><button id="add" type="button" onclick="add">追加</button></td>
    </tr>
  </tfoot>
</table>
<input type="submit" name="send" value="送信">
 

</form>
</div>
</body>
</html>